body {
  color: white;
  background-color: gray;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: black;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid darkgoldenrod;
}

.alive {
  background-color: lavender;
}

.dead {
  background-color: black;
}
