body {
  color: white;
  background-color: gray;
  text-align: center;
}

.alive {
  width: 20px;
  height: 20px;
  background-color: lavender;
  border: 1px solid darkgoldenrod;
}

.dead {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid darkgoldenrod;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

ul li {
  font-size: 2rem;
}
